<web-app>   

<!-- Program p7_c1.java -->
    <servlet>
        <servlet-name>p7_c1</servlet-name>
        <servlet-class>p7_c1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>p7_c1</servlet-name>
        <url-pattern>/cookieC1</url-pattern>
    </servlet-mapping>

<!-- Program p7_c2.java -->
    <servlet>
        <servlet-name>p7_c2</servlet-name>
        <servlet-class>p7_c2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>p7_c2</servlet-name>
        <url-pattern>/cookieC2</url-pattern>
    </servlet-mapping>
    
</web-app>