<web-app>
<!-- Program p12_db3.java -->
    <servlet>
        <servlet-name>p12_db3</servlet-name>
        <servlet-class>p12_db3</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>p12_db3</servlet-name>
        <url-pattern>/db3</url-pattern>
    </servlet-mapping>
</web-app>