<web-app>   

<!-- Program p10_sessid1.java -->
    <servlet>
        <servlet-name>p10_s1</servlet-name>
        <servlet-class>p10_sessid1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>p10_s1</servlet-name>
        <url-pattern>/sessid1</url-pattern>
    </servlet-mapping>
<!-- Program p10_sessid2.java -->
    <servlet>
        <servlet-name>p10_s2</servlet-name>
        <servlet-class>p10_sessid2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>p10_s2</servlet-name>
        <url-pattern>/sessid2</url-pattern>
    </servlet-mapping>

</web-app>